*
{
    box-sizing: border-box;
}

body,
html
{
    width: 100%;
    height: 100%;
    display: table;
    padding: 0px;
    margin: 0px;
}

.background
{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: #fff;
}

.gamefieldcontainer
{
    width: 100%;
    display: table;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.gamemenu
{
    width: 20%;
    display: table;
    height: 100%;

}

.gamefield {
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}



.line {
    height: 50px;
    position: relative;
    display: table;

}
.gamecell {
    display: table;
    width: 110px;
    height: 110px;
    position: relative;
    float: left;
    border: 1px solid #dedede;
}

.gamecell img {
    display: block;
    height: 90px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
}

#gameResultContainer {
    height: 50px;
    border: 2px solid indigo;
    background: teal;
    color: #fff;
    font-family: arial;
    line-height: 2.75em;
    box-sizing: border-box;
    padding-left: 50px;
}